<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/aboutus.css">
    <title>Document</title>
</head>
<body>
   <h1>About us</h1>
   <div id="aboutus">
    <p>Xin chào các Doctor, chào mừng đến với Arknights Heart</p>
    <p>Arknights (Tên tiếng Trung 明日方舟 - Minh Nhật Phương Chu) là 1 trò chơi điện thoại theo thể loại tower defense, phát triển bởi Hypergryph và Studio Montagne trên 2 hệ điều hành Android và iOS. Game ra mắt chính thức tại Trung Quốc vào 30/4 trên iOS và 1/5/2019 trên Android. Server Nhật Bản, Hàn Quốc và quốc tế mở cửa vào tháng 1/2020 cho cả iOS và Android, phát hành bởi Yostar.
    </p>
    <p>Nếu bạn là người mới đến với Arknights, vui lòng vào trang <a href="https://ak.kazdel.com/index.php/%C4%90%C6%B0%E1%BB%9Dng_d%E1%BA%ABn_quan_tr%E1%BB%8Dng">đường dẫn quan trọng</a> trước tiên để chọn link tải phiên bản game phù hợp.</p>
    <p>Nếu bạn đến đây để tìm hiểu thêm thông tin chi tiết trong game, hiện tại khu vực Danh sách Operator đã tương đối hoàn chỉnh. Trong giai đoạn này webdite vẫn còn non trẻ, nếu phát hiện lỗi sai hoặc thiếu sót, xin hãy thông báo trong group Facebook hoặc Discord của cộng đồng.</p>
    <p>xem trailer game tại đây:</p>
    <div>
        <a href="https://www.youtube.com/watch?v=uySJpmfM7q4&t=23s">Arknights concept trailer 1</a>
        <br/>
        <a href="https://www.youtube.com/watch?v=XMu4MSFQw_Y">Arknights latest trailer</a>
        <br/>
        <a href="https://www.youtube.com/watch?v=Hfu_I0V3VrM&t=6s">Arknights official trailer</a>
        <br/>
        <a href="https://www.youtube.com/@rivervmusic/videos">Kênh youtube nhạc Arknights</a>
        <br/>
        <a href="https://www.youtube.com/@ArknightsOfficialYostar">Kênh youtube Arknights Global chính thức</a>
        <br/>
        <a href="https://www.youtube.com/@KazdelTeam">Kênh youtube Arknights CN chính thức</a>
    </div>
   </div>
</body>
</html>